/*
*
* Primary navigation - top header **********************************************************
*
*/
.nav-container {
    height: 55px;
}

.primary {
    width: 100%;
    // padding: 5px 0 0 20px;
}

.nav-primary {
    background: transparent;
    max-width: 1280px; // max-width: 1024px;
    margin: 0 auto;
    a {
        color: #fff;
    }
}

.sidebar-toggle {
    margin: 4px 0 0 0;
    float: right;
    padding: 16px 15px 0 0;
}

/*
*
* user-nav ***********************************************************************
*
*/

.user-nav {
    padding: 20px 0 0;
    float: right;
    ul {
        li {
            list-style-type: none;
            display: inline;
            padding-right: 10px;
            a {
                display: inline;
            }
        }
    }
}

/*
*
* Secondary Navigation  **********************************************************
*
*/

.nav-secondary {
    background: $white;// $bg-secondary;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.24);
    height: 55px;
}


/*
*
* nav-secondary-tabs  ***********************************************************************
*
*/

.nav-secondary-tabs {
    background-color: $bg-secondary-tabs;
    bottom: 0;
    height: 55px;
    position: absolute;
    width: 100%;
    &.affix {
        background: $bg-secondary;
        box-shadow: 0 1px 13px rgba(0, 0, 0, 0.24);
        top: 0;
        position: fixed;
        z-index: 100;
    }
    .search-form {
        margin: 5px 27px 0 -10px;
        width: 240px;
    }
}

/*
*
* NAV SIDEBAR ***********************************************************************
*
*/

// Some links don't have 'href' attr, hence no mouse pointer
.nav-sidebar li a {
    cursor: pointer;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:focus,
.nav-sidebar>.active>a:hover {
    color: #2089C4;
    background-color: #428bca;
}

.nav-sidebar ul {
    list-style: none;
    padding: 0px;
    text-align: left;
    li {
        display: block;
    }
}

.nav-sidebar .nav ul {
    padding: 0px 0px 0px 15px;
}

// #jsTOCLeftNav>li {
//     margin-bottom: 30px;
//     >ul {
//         padding-left: 0;
//     }
// }

.nav-sidebar ul li a:hover {
    // opacity: 0.7;
    color: $primary-links;
    background: rgba(230, 236, 241, 0.95); // background: transparent;

}

.nav-sidebar ul li a,
.nav-sidebar ul li a:focus,
.nav-sidebar ul li a:hover {
    border-bottom: none;
    text-decoration: none;
}

.nav-sidebar ul li a.active,
.nav-sidebar.nav>li>a:focus {
    // cursor: default;
    background: $white; // #F3F4F4;
    color: $green;// #2089C4;
    font-weight: 500;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 3px solid $green; // 4px solid rgb(230, 236, 241);
    padding-left: 13px;
}

.nav-sidebar ul li li a {
    border-left: 1px solid rgba(230, 236, 241, 0.9);
    font-size: 14px; // font-size: 12px;
    // margin-left: 15px;
}

.nav-sidebar ul li a[aria-expanded="true"] {
    background: #e6ecf192;
    .caret {
        color: $green-dark;
    }
}

.nav-sidebar .caret {
    float: right;
    margin-top: 8px;
    color: rgba(157, 170, 182, 0.5); //
}

.nav-sidebar .arrow {
    transform: rotate(270deg);
}

.nav-sidebar .arrow.down {
    transform: rotate(0);
}

.leftnav {
    padding: 0 20px 20px 0;
}

/* pointer for collapsed sidebar list items */

.collapsed
{
    cursor:pointer;
}

/*
*
* Table of contents menu  ***********************************************************************
*
*/

.toc-toggle {
    width: 25px;
    height: 25px;
    float: right;
}

.toc-nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; // padding-left: 10px;
    line-height: 20px;
    li {
        padding: 2px 8px 2px 0;
        width: 100%;
        a {
            display: inline-block;
            font-size: 12px;
            font-weight: 500; //
             // padding: 5px 10px 5px 10px;
            text-decoration: none;
            font-family: Content-font, Roboto, sans-serif; //
        }
    }
}

.toc-nav>ul {
    padding-left: 0;
}

.toc-nav .feedback-links a {
    color: $light;
    padding: 5px 10px 5px 0;
    &:hover {
        color: $green;
    }
}

.toc-nav .inline_toc a {
    color: $light;
    padding: 5px 10px 5px 15px;
}

.toc-nav .inline_toc ul a {
    padding-left: 30px!important;
    &.active {
        padding-left: 29px!important;
    }
}

// .toc-nav .inline_toc ul {
//     padding-left: 10px;
// }

.toc-nav li a.active {
    color: $green;
    border-left: 2px solid $green;
    margin-left: -1px; //
    padding-left: 14px; // 15 - 2 - (-1)
}

.toc-nav i.fa {
    font-size: 14px;
    margin: 0px 5px 0 0;
    color: $light; // #4fa1d0;
}

// i.fa.fa-question {
//     font-size: 14px; // 21px
//     margin: 0 11px 0 0;
// }

// div#side-toc-title {
//     font-size: 12px;
//     font-weight: bold;
//     margin: 11px 0 10px 13px;
// }
div#side-toc-title {
    font-size: 13px;
    font-weight: bold;
    margin: 11px 0 10px 0px;
    color: #9DAAB6;
    line-height: 18px;
    clear: both;
}

ul#my_toc {
    border-left: 1px solid $border-color;
}

.edit {
    margin: 10px 0 20px 15px;
}

/*
*
* Toggle Switches **************************************************************
*
*/

.toggle-mode {
    float: left;
    padding: 0; // padding: 0 0 0 10px;
    width: 100%;
    .icon {
        width: 25px;
        float: left;
        font-size: 1.5rem;
    }
    :after {
        clear: both
    }
}


.toggle-switch {
    float: left;
    height: 40px;
    width: 60px;
    padding: 3px 7px 0 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 19px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $slider-bg;
    border: 1px solid #c3e4f7;
    // transition: 0.4s;
}

.slider:before {
    background-color: $slider-btn;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 1px;
    // transition: 0.4s;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*
*
* Tabs ***********************************************************************
*
*/
#tabs {
    float: left;
    margin: 0;
    // padding-left: 8px;
    ul {
        padding: 0;
    }
}

.tabs {
    li {
        float: left;
        list-style: none;
        a {
            color: $primary-links;
            // padding: 17px 19px 14px 15px;
            padding: 0 20px;
            height: 55px; ///
            line-height: 55px; ///
            float: left;
            font-size: 14px;
            font-weight: 500;
            font-family: Content-font, Roboto, sans-serif;
            &:hover {
                color: #000;
                background: rgba(230, 236, 241, 0.95) !important;
            }
        }
    }
}

.tabs li.active a {
    background: transparent !important;
    color: $primary-links;
    cursor: default;
    border-bottom: 4px solid #fff;
}

/*
*
* feedback links ***********************************************************************
*
*/

#sidebar-right.affix .feedback-links {
    margin: 50px 0 10px 0;
}

/* polldaddy */

#rating_info_8453675 {
    display: none !important;
}

.rating-msg {
    font: inherit !important;
    color: inherit !important;
}

/*
*
* Controls ***********************************************************************
*
*/

.ctrl-left {
    float: left;
    width: 20px;
    margin: 3px 0px 0px 0;
}

.ctrl-right {
    float: right;
    // padding: 5px 0px;
}

.ctrl-right a {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
