<ul class="dropdown-menu nav-main" role="menu" aria-labelledby="dLabel">
    <!-- <h6 class="dropdown-header">For Desktop</h6> -->
    <li><a tabindex="-1" href="https://docker.com/products/docker-desktop">CS 基础</a></li>
    <li><a tabindex="-1" href="https://docker.com/partners/aws">Linux</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="https://docker.com/partners/microsoft">云原生</a></li>
    <li class="disabled"><a href="https://docker.com/partners/microsoft">云存储</a></li>
    <li><a tabindex="-1" href="https://docker.com/partners/microsoft">大数据</a></li>
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#">VCS</a>
        <ul class="dropdown-menu">
            <li><a href="git">Git</a></li>
            <li><a href="github">GitHub</a></li>
            <li><a href="gitlab">GitLab</a></li>
            <li><a href="gogs">Gogs</a></li>
        </ul>
    </li>
</ul>
