{% unless page.nomenu == true %}
<nav class="col-nav">
    <div id="sidebar-nav" class="sidebar hidden-sm hidden-xs">
        <div id="navbar" class="nav-sidebar">
            <!-- <ul class="nav" id="jsTOCLeftNav"></ul> -->
            {% assign catalog = site.data.knowledge.git.catalog %}
            {% assign source = site.data.knowledge.git.source %}
            {% assign destination = site.data.knowledge.git.destination %}
            {% capture openfolder_array %}{% include /functions/f_navtree_open.html theTOC=catalog %}{% endcapture %}
            {% assign openfolder_array = openfolder_array | strip_newlines | split: "," %}
            {% include /functions/f_navtree.html theTOC=catalog outer='true' opentree =openfolder_array destination=destination %}
        </div>
    </div>
</nav>
{% endunless %}
