<script language="JavaScript">
    var x = document.links.length;
    var baseHref = document.getElementsByTagName('base')[0].href;
    for (i = 0; i < x; i++) {
        var munged = false;
        var thisHREF = document.links[i].href;
        var originalURL = "{{page.url}}";
        if (thisHREF.indexOf(baseHref + "#") > -1) {
            // hash fix
            // console.log('BEFORE: base:',baseHref,'thisHREF:',thisHREF,'originalURL:',originalURL);
            thisHREF = originalURL + thisHREF.replace(baseHref, "");
            //console.log('AFTER: base:',baseHref,'thisHREF:',thisHREF,'originalURL:',originalURL);
        }
        if ((thisHREF.indexOf(window.location.hostname) > -1 || thisHREF.indexOf('http') == -1) && document.links[i].className.indexOf("nomunge") < 0) {
            munged = true;
            thisHREF = thisHREF.replace(".md", "/").replace("/index/", "/");
            document.links[i].setAttribute('href', thisHREF);
        }
    }
</script>
