---
# Knowledge Base Theme
---

@import "variables";
@import "night-mode";
@import "base";
@import "typography";
@import "layout";
@import "gheader";
@import "navigation";
@import "buttons";
@import "content";
@import "utilities";
@import "github";
@import "overrides";
@import "media";
@import "notes";

// #navbar>ul>li>div.subtree-name {
//     padding: 5px 0 5px 15px;
//     margin-top: 20px;
//     color: $light;
// }

// .nav-sidebar .nav>li>ul {
//     padding-left: 0;
// }

.pos {
    &.rel {
        position: relative;
    }
    &.abs {
        position: absolute;
    }
    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
}
